body {
  font-family: "Product Sans", "Google Sans", "Montserrat", ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

nav {
  position: fixed; /* keeps the bar at the top of the screen */
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  font-size: 1.2rem;
  display: flex; /* allows the content to maintain design intent even if content is added */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* adds space between each direct child component */
  color: black;
  background-color: darkorange;
}

nav > a {
  color: black;
}

main {
  margin-top: 5rem; /* offset the height of nav */
  margin-bottom: 5rem; /* offset the height of the footer */
}

footer {
  position: fixed; /* keeps the bar at the top of the screen */
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: darkorange;
  display: flex; /* allows the content to maintain design intent even if content is added */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}
footer a > img {
  height: 1.2rem;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.intro {
  display: flex;
  flex-direction: row;
}

.illustration {
  width: 30rem;
  height: 100vh;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.illustration > img {
  height: 75%;
  width: auto;
}

.description {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}
